
{
  "presets": [
    ["env", {
      "targets": {
        "node": "2"
      }
    }],
    "react"
    
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}